@{
    ViewData["Title"] = "Login/Register";
}
@using wplan.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model wplan.Models.UserViewModel

<form asp-controller="Login" asp-action="login" method="POST">
    <h4>
        <label asp-for="email"></label>
        <input asp-for="email">
        <span asp-validation-for="email"></span>
    </h4>
    <h4>
        <label asp-for="password"></label>
        <input asp-for="password">
        <span asp-validation-for="password"></span>
    </h4>
    <input type="submit" value="Register">
</form>